<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaiguanjs" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 照片涉及到文件读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--8.0安装需要的权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:networkSecurityConfig="@xml/network_security_config"
            android:name="com.kaiguanjs.YQCFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/yqc_file_paths" />
        </provider>

        <activity
            android:name="com.kaiguanjs.ui.WebViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name="com.kaiguanjs.ui.NoNetworkActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            />

        <meta-data android:name="YQCU" android:value="asqp888.com"/>
        <meta-data android:name="YQCU2" android:value="aisqp8.com"/>

        <meta-data android:name="YQCID" android:value="androidname=com.sports.cricketclover"/>

    </application>
</manifest>
